nav {
  margin: 0;
  padding: 1rem;
  height: 100%;
  width: 170px;
  background-color: var(--nav-color);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  font-weight: 600;
  border-right: 1px solid var(--border-color);
  /* border-right: 1px solid var(--border-color); */
  /* box-shadow: 0px 0px 10px 5px var(--border-color); */
}

nav>* {
  width: 100%;
}
