#nav-wrapper {
  width: 170px;
  min-width: 170px;
}

nav {
  position: fixed;
  margin: 0;
  padding: 1rem;
  height: 100%;
  width: 170px;
  background-color: var(--nav-color);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  font-weight: 600;
  border-right: 1px solid var(--border-color);
}

nav>* {
  width: 100%;
}

@media (max-width: 1300px) {
  nav {
    width: 80px;
  }

  #nav-wrapper {
    width: 80px;
  }
}
