nav {
	margin: 0;
	padding: 1rem;
	height: 100%;
	width: 170px;
	background-color: var(--nav-color);
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;
	gap: 2rem;
	font-weight: 600;
}

nav>* {
	width: 100%;
}
