#features-list {
  width: 95%;
  max-width: 900px;
}

@media (max-width: 1200px) {
  #features-list {
    max-width: 750px;
  }
}

@media (max-width: 900px) {
  #features-list {
    max-width: 600px;
  }
}
