#play-board {
  height: 80vh;
  width: 80vh;
  max-height: 80vw;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  border: 3px solid var(--border-color);
  overflow: hidden;
}

#chessboard {
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* #flex flex-col justify-around gap-0 h-full */
#game-players {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  min-height: 100vh;
}

.rank {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
}

.square {
  width: 100%;
  height: 100%;
  flex: 1;
  cursor: pointer;
}

.square-white {
  background-color: var(--square-white);
}

.square-black {
  background-color: var(--square-black);
}

.piece {
  will-change: transform;
  /* GPU layer */
  transform: translateZ(0);
  /* Force hardware acceleration */
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
