#play-board {
  height: 88vh;
  width: 88vh;
  max-height: 80vw;
  max-width: 80vw;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  border: 3px solid var(--border-color);
  overflow: hidden;
}

#chessboard {
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#game-players {}

#game-players-wrapper {
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.rank {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
}

.square {
  width: 100%;
  height: 100%;
  flex: 1;
}

.square-white {
  background-color: var(--square-white);
}

.square-black {
  background-color: var(--square-black);
}

@media (max-width: 1200px) {
  #game-players {
    margin-top: 8%;
  }
}

@media (max-width: 600px) {
  #play-board {
    height: 90vw;
    width: 90vw;
    max-height: 90vw;
    max-width: 90vw;
  }
}

@media (max-width: 500px) {
  #play-board {
    height: 95vw;
    width: 95vw;
    max-height: 95vw;
    max-width: 95vw;
  }
}
