#play-board {
  height: 80vh;
  width: 80vh;
  display: flex;
  flex-direction: column;
  max-height: 55vw;
  max-width: 55vw;
  border-radius: 1rem;
  border: 3px solid var(--border-color);
  overflow: hidden;
}

#chessboard {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.rank {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
}

.square {
  width: 100%;
  height: 100%;
  flex: 1;
  cursor: pointer;
}

.square-white {
  background-color: rgb(255, 242, 212);
}

.square-black {
  background-color: rgb(222, 146, 90);
}

.piece {
  will-change: transform;
  /* GPU layer */
  transform: translateZ(0);
  /* Force hardware acceleration */
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
