#play-panel {
  height: 80vh;
  width: 30vw;
  background-color: var(--nav-color);
  display: flex;
  border-radius: 1rem;
  border: 1px;
  padding: 1.5rem;
  border-radius: 1rem;
  border: 1px solid var(--border-color);
}
