.play-panel {
  position: relative;
  width: 380px;
  max-width: 30vw;
  background-color: var(--nav-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 1rem;
  border: 1px;
  padding: 1.5rem;
  text-align: center;
  z-index: 0;
}

.game-panel {
  position: relative;
  height: 90vh;
  width: 380px;
  background-color: var(--nav-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 1rem;
  border: 1px;
  padding: 1.5rem;
  text-align: center;
  z-index: 0;
}

.game-mode-block {
  position: relative;
  background-color: rgb(150, 100, 90);
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.5rem;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.game-mode-block:hover {
  filter: brightness(0.96);
}

.game-mode-block:active {
  filter: brightness(0.9);
}

@media(max-width: 1350px) {
  .play-panel {
    width: 300px;
  }

  .game-panel {
    width: 320px;
  }
}

@media(max-width: 1200px) {
  .play-panel {
    min-width: 430px;
  }

  .game-panel {
    min-height: 900px;
    width: 80%;
    max-width: 550px;
    margin-bottom: 10%;
  }
}
