#game-moves-history {
  /* className="min-h-32 max-h-32 overflow-scroll" */
  width: 100%;
  height: 90%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

#board-panel {
  margin-left: 170px;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}

@media (max-width: 1200px) {
  #board-panel {
    flex-direction: column;
    gap: 3rem;
  }
}

@media (max-width: 1300px) {
  #board-panel {
    margin-left: 80px;
  }
}


@media (max-width: 600px) {
  #board-panel {
    margin-left: 0;
  }
}
