#game-moves-history {
  /* className="min-h-32 max-h-32 overflow-scroll" */
  width: 100%;
  height: 90%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
