#games-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.mini-board {
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  overflow: hidden;
}
